# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
.eggs/
.pytest_cache/
.coverage
htmlcov/
.pytype/
cython_debug/

# Build and Distribution
build/
dist/
downloads/
lib/
lib64/
parts/
var/
wheels/
develop-eggs/
sdist/
.installed.cfg

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Virtual Environment
venv/
.venv/
env/
.Python

# IDE and Editors
.idea/
.vscode/

# OS Specific
.DS_Store
*.swp
*~

# Environment Variables
.env
.env.*
